body {
    display: flex;
    flex-direction: column;
    flex: auto;
    background: #feffdf;
}

main {
    display: flex;
    flex-direction: row;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 50px;
}

header {
    background: #97cba9;
}

footer {
    background: #97cba9;
    padding: 35px 10px;
    text-align: center;
}

